li {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid;
}
.blue {
    color: blue;
}
.green {
    color: green;
}
.box-example {
    background-color: yellow;
}